# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/venv/
.venv/

# Database
backend/*.db
backend/*.db-journal
backend/*.db-wal
backend/*.db-shm

# Logs
*.log

# Node
node_modules/
web/node_modules/

# Build
dist/
web/dist/

# Environment variables
.env
.env.*
!.env.example

# VS Code
.vscode/
